%li{:id => ['user_story', user_story.id], :class => "user_stories"}
  %header{ :class => "#{user_story.size_alias}" }
    %h4= user_story.name
    %span.story_size= user_story.size
  %div.details= highlight_user_story(user_story.description)
  -if user_story.issues.any?
    %div.issues
      %h5 Blocking Issues
      =render user_story.issues, :project => project, :user_story => user_story
  %footer
    = link_to 'Block', new_project_user_story_issue_path(project, user_story), :remote => true
    = link_to 'Delete', project_user_story_path(project, user_story), :remote => true, :method => :delete, :confirm => 'Are you sure?'
    = link_to 'Edit', edit_project_user_story_path(project, user_story), :remote => true
