%h1 Statuses
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th WIP
      %th Manage
  %tbody
    - @statuses.each do |status|
      %tr{ :id => ['status', status.id] }
        %td= status.name
        %td= status.wip
        %td
          = link_to edit_project_status_path(@project, status), :class => 'btn' do
            %i.icon-pencil
            Edit
          = link_to project_status_path(@project, status), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' do
            %i.icon-trash.icon-white
            Delete
= link_to new_project_status_path(@project), :class => 'btn btn-success' do
  %i.icon-plus.icon-white
  Add Status
