%tr{:id => ['project', project.id]}
  %td.project_info
    %h3= link_to project.name, project_path(project)
    %div.project_description= project.description
    %div.prokect_actions
      = link_to 'Edit', edit_project_path(project)
      = link_to 'Delete', project_path(project), :method => :delete, :confirm => 'Are you sure?'

  %td.statuses
    %ul
      - project.statuses.each do |status|
        %li
          = status.name
  %td.user_stories
    %ul
      - project.statuses.each do |status|
        %li
          = status.user_stories.count
  %td.availability
  %td
    %ul
      - project.users.each do |member|
        %li= member.name
    = link_to 'manage', project_members_path(project)

