%tr{:id => ['project', project.id]}
  %td.project_info
    %h3= link_to project.name, project_path(project)
    %div.project_description= project.description
  %td
    %ul.unstyled
      - project.statuses.each do |status|
        %li
          = status.name
  %td
    %ul.unstyled.project_user_stories
      - project.statuses.each do |status|
        %li
          = status.user_stories.count
  %td
    %ul.unstyled.project_statuses_availability
      - project.statuses.each do |status|
        %li
          = status.availability
  %td
    %ul.unstyled
      - project.users.each do |member|
        %li= member.name
  %td.project_actions
    %ul.unstyled
      %li= link_to 'edit project', edit_project_path(project)
      %li= link_to 'statuses', project_statuses_path(project)
      %li= link_to 'members', project_members_path(project)
      %li= link_to 'delete project', project_path(project), :method => :delete, :confirm => 'Are you sure?'
