!!!
%html
  %head
    %title kanbanBoard
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{@body_class}", :id => "#{@body_id}"}
    %header#main
      %h1= link_to 'kanbanBoard', root_path
      - if logged_in?
        %span#logout=link_to 'Log out', logout_path
    = render :partial => 'shared/flash_msgs'
    = yield
