!!!
%html
  %head
    %title kanbanBoard
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{@body_class}", :id => "#{@body_id}"}
    %header.navbar
      .navbar-inner
        .container
          = link_to 'kanbanBoard', root_path, :class => 'brand'
          %ul.nav.pull-right
            - if logged_in?
              %li= link_to 'My Account', account_path
              %li= link_to 'Log out', logout_path
    .container-fluid
      .row-fluid
        = render :partial => 'shared/flash_messages'
        = yield
