%h2= link_to @project.name, project_path(@project)
%h3 Add Member
= form_tag new_project_member_path(@project), :method => 'get' do
  %div
    = label_tag :search, 'Email'
    = text_field_tag :search, params[:search], :autofocus => true
    = submit_tag "Search", :name => nil, :class => 'btn'
- if @members
  - if @members.empty?
    = "#{@search} was not found."
    = link_to "Invite to kanbanBoard", invitations_path( :project_id => @project.id, :email => @search ), :method => :post, :class => 'button'
  - else
    %table
      %thead
        %th Name
        %th Email
        %th Action
      %tbody
        =render :partial => 'member', :collection => @members, :locals => { :project => @project }
